<!-- ======= Hero Section ======= -->
<section id="hero" style="padding-top:63px;">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('./assets/bg1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2>Code-Academyへようこそ</h2>
                            <p>Code-AcademyはWeb開発者サイトであり、HTML、CSS、C ++、AngularWebプログラミングなどのWeb開発言語に関するチュートリアルとリファレンスがあります。 また、魅力的な外観の簡単な構文を提供します。
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Hero -->


<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>プログラミング言語</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon">
                    <i> 
                                <img src="./assets/html.png" style="height: 50px; padding-bottom: 5px;">
                            </i>
                </div>
                <h4 class="title"><a routerLink="/dashboard/code-section/html">HTML</a></h4>
                <p class="description">HTMLは、Webブラウザで表示するように設計されたドキュメントの標準マークアップ言語です。 カスケードスタイルシートとJavaScriptによって支援できます。</p>
            </div>

            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon"><i> <img src="./assets/css.png" style="height: 50px; padding-bottom: 5px;"></i></div>
                <h4 class="title"><a routerLink="/dashboard/code-section/css">CSS</a></h4>
                <p class="description">カスケードスタイルシートは、HTMLなどのマークアップ言語で記述されたドキュメントのプレゼンテーションを記述するために使用されるスタイルシート言語です。</p>
            </div>

            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon"><i> <img src="./assets/cpp_logo.png" style="height: 50px; padding-bottom: 5px;"></i></div>
                <h4 class="title"><a routerLink="/dashboard/code-section/cpp">C++</a></h4>
                <p class="description">C ++は、Cプログラミング言語または「CwithClasses」の拡張としてBjarneStroustrupによって作成された汎用プログラミング言語です。</p>
            </div>

            <div class="col-lg-3 col-md-5 icon-box" data-aos="fade-up">
                <div class="icon"><i> <img src="./assets/angular-icon.svg" style="height: 50px; padding-bottom: 5px;"></i></div>
                <h4 class="title"><a routerLink="/dashboard/code-section/angular">Angular</a></h4>
                <p class="description">Angularは、Googleと個人や企業のコミュニティが主導するTypeScriptベースのオープンソースWebアプリケーションフレームワークです。</p>
            </div>
        </div>

    </div>
</section>
<!-- End Services Section -->