<nav class="navbar navbar-nav" style="margin-top: 0%; margin-top: 0; background-color: black;">
    <a class="nav-link ml-5 mr-auto bold" href="dashboard/home">ホーム</a>
</nav>
<section class="our-webcoderskull padding-lg">

    <div class="container">
        <div class="row heading heading-icon">
            <h2>私たちのチーム</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/Tai.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="https://www.facebook.com/lethetai2605">Lê Thế Tài</a></h3>
                    <p>リーダー</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/Vinh.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="#">Vinh Nguyễn</a></h3>
                    <p>ウェブ開発者</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/Cuong.jpg" class="img-responsive" alt=""></figure>
                    <h3>
                        <a href="/assets/Ha.jpg">Duy Cương</a>
                    </h3>
                    <p>ウェブ開発者</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/HienKiet.jpg" class="img-responsive" alt=""></figure>
                    <h3>
                        <a href="http://www.webcoderskull.com/">Hiền Kiệt</a>
                    </h3>
                    <p>ウェブ開発者</p>
                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/NgocAnh.jpg" class="img-responsive" alt=""></figure>
                    <h3><a href="/assets/aamir.jpeg">Ngọc Anh</a></h3>
                    <p>ウェブ開発者</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="/assets/Ha.jpg" class="img-responsive" alt=""></figure>
                    <h3>
                        <a href="#">Hà Nguyễn</a>
                    </h3>
                    <p>ウェブ開発者</p>

                </div>
            </li>
            
        </ul>
    </div>
</section>