<form class="container container-fluid shadow-lg">
    <h2>パスワードを再設定</h2>


    <p class="text-center">パスワードのリセットをリクエストするには、メールアドレスを入力してください。</p>

    <div class="form-group">
        <input type="email" class="form-control" placeholder="メールアドレス" #passwordResetEmail required>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">パスワードを再設定</button>
    </div>
    <div class="form-group">
        <span>帰ります ？ <a routerLink='/sign-in'>ログイン</a> </span>
    </div>

</form>